/* ircium-buffer-style.css
 *
 * Copyright 2019 Jani Juhani Sinervo <jani@sinervo.fi>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.mention {
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-right-width: 5px;
	border-left-width: 5px;

	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;

	border-top-color: rgba(0, 255, 0, 0.5);
	border-bottom-color: rgba(0, 255, 0, 0.5);
	border-right-color: rgba(0, 255, 0, 0.5);
	border-left-color: rgba(0, 255, 0, 0.5);

	background-color: rgba(0, 255, 0, 0.05);
}

.notice {
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-right-width: 5px;
	border-left-width: 5px;

	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;

	border-top-color: rgba(255, 255, 0, 0.5);
	border-bottom-color: rgba(255, 255, 0, 0.5);
	border-right-color: rgba(255, 255, 0, 0.5);
	border-left-color: rgba(255, 255, 0, 0.5);

	background-color: rgba(255, 255, 0, 0.05);
}
